@import "../../style.scss";

.ruleBoard{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .container{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-radius: $radius-md;
        color: $color-text-dark;
        background-color: $color-bg-light;
        -webkit-box-shadow: 4px 4px 4px 0px rgba(105,73,73,0.15); 
        box-shadow: 4px 4px 4px 0px rgba(105,73,73,0.15);
        display: flex;
        padding: 20px;
        gap: 0rem;

        font-size: 1rem;

        .ranking_list{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;


            .item{
                display: flex;
                justify-content: space-between;
                background-color: $color-bg-pink;
                padding: 5px 16px;
                border-radius: 999px;
                gap: 15px;

                &:first-child{
                    margin-top: 10px;
                }

                span{
                    text-wrap: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $color-text-dark;
                    font-size: 1rem;
                    font-weight: normal;

                    &:first-child{
                        inline-size: 100%;
                    }

                    &:last-child{
                        width: 6rem;
                    }
                }
            }
        }

        span{
            font-weight: 500;
            color: $color-accent-red;
            font-size: 1.25rem;
        }
        
        &:nth-child(odd){
            background-color: $color-bg-soft;
        }

        img{
            margin-top: 20px;
            align-self: center;
            width: 50%;
            aspect-ratio: 1/1;
        }
    }
}
